Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
PyMySQL==0.7.9
SQLAlchemy==1.0.15
Werkzeug==0.11.11
anyjson==0.3.3
billiard==3.3.0.23
bitstring==3.1.5
celery==3.1.23
click==6.6
itsdangerous==0.24
kombu==3.0.35
lifxlan==0.3.0
mysql-connector==2.1.4
pytz==2016.6.1
six==1.10.0
wsgiref==0.1.2
